.wp-admin {
  &.toplevel_page_crm_dashboard {
    #wpcontent {
      margin-left: 140px;
      #wpbody-content {
        > div {
          display: none;
        }
        .clear {
          display: block;
        }
        .dashboard__body-start {
          display: block;
          .card-block.card-height {
            max-width: unset;
          }
          .notice, .notice ~ .updated  {
            display: none;
          }
          .card-full-width {
            width: 100%;
            max-width: unset;
          }
        }
      }
    }
    // , .folded #wpfooter
    &.folded #wpcontent {
      margin-left: 36px;
    }
    &.fwp-full-screen {
      #wpadminbar, #adminmenumain {
        display: none;
      }
      #wpcontent, #wpfooter {
        margin-left: auto;
      }
    }
  }
}
.iq-banner ~ #wpbody #wpbody-content .dashboard__body-start #page_layout {
  // width: 90%;
  margin-top: -8rem;
}