/* Including parts. */
@import "navmenu";
// @import "elementor";
@import "icons";
@import "map";


/* General Settings */
.modal-backdrop.fade.show {
  display: none;
}
.input-group {
  span[id^="basic-editopen-"] {border-radius: 0 5px 5px 0 !important;}
  &.input-group-solid .input-group-text[id^=basic-pre-addons] {
    @include mq($until: 500px) {
      display: none;
    }
    @include mq($until: 550px) {
      max-width: 180px;
      overflow: hidden;
    }
  }
}
.direct-download-btn {
  display: block;
  width: 50px;
  height: 30px;
  svg.icon-32 {
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
    margin-top: 3px;
  }
}
.input-group-text.password-toggle:not(.showing) .shown {display: none;}
.input-group-text.password-toggle.showing .hiden {display: none;}

div.wpforms-container-full .wpforms-form .wpforms-field {
  margin-left: auto;
  padding: 10px;
  input, select {
    min-width: 100%;
    width: 100%;
    border-radius: 5px !important;
    border: .5px solid #8d8d8d !important;
    padding: 5px 10px;
    margin: auto;
  }
  textarea{
    height: 200px;
  }
  .wpforms-field-label {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
  }
  &.wpforms-field-name {
    width: 100%;
    display: block;
    .wpforms-field-row {
      display: block;
      min-width: 100%;
      .wpforms-field-row-block {
        padding: 10px !important;
        margin-left: 0 !important;
      }
    }
  }
}
.profile-image-preview {
  height: 0;
  opacity: 0;
  width: 200px;
  margin: auto;
  overflow: hidden;
  visibility: hidden;
  transition: all .7s ease;
  &.active {
    height: 200px;
    opacity: 1;
    visibility: visible;
    img {
      height: 100%;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 2px 0 5px #ddd;
    }
  }
}